* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    padding-top: 50px;
}

div {
    width: 84px;
    height: 126px;
    background: url(https://38.media.tumblr.com/tumblr_mb4zsyUYCT1rvuv0d.png) no-repeat;
    background-position: 0;
    transform: rotateY(180deg);
    position: relative;
    margin-bottom: 20px;
}

.div1 {
    animation: walk-right 5s steps(6) forwards, right 5s linear forwards;
}

.div1::after {
    content: 'RUNNING!';
    padding: 5px 10px;
    background-color: black;
    color: white;
    position: absolute;
    top: -40px;
    left:50%;
    transform: translateX(-50%) rotateY(180deg);
    animation: div1-stoped 0s forwards 5s;
}

@keyframes div1-stoped {
    from {
        content: 'RUNNING!';
    }
    to {
        content: 'DONE!';
    }
}

@keyframes started {
    from {
        content: 'WAITING!';
    }
    to{
        content: 'RUNNING!';
    }
}

.div2 {
    transform: rotateY(0);
    animation: walk-left 5s steps(6) forwards 5s, left 5s linear forwards 5s;
    left: calc(100% - 85px);
}

.div2::after {
    content: 'WAITING!';
    padding: 5px 10px;
    background-color: black;
    color: white;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    animation: started 0s forwards 5s, div1-stoped 0s forwards 10s;
}

.div3 {
    animation: walk-right 5s steps(6) forwards 10s, right 5s linear forwards 10s;
}

.div3::after {
    content: 'WAITING!';
    padding: 5px 10px;
    background-color: black;
    color: white;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%) rotateY(180deg);
    animation: started 0s forwards 10s, div1-stoped 0s forwards 15s;
}

.div4 {
    transform: rotateY(0);
    animation: walk-left 5s steps(6) forwards 15s, left 5s linear forwards 15s;
    left: calc(100% - 85px);
}

.div4::after {
    content: 'WAITING!';
    padding: 5px 10px;
    background-color: black;
    color: white;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    animation: started 0s forwards 15s, div1-stoped 0s forwards 20s;
}

.div5 {
    animation: walk-right 5s steps(6) forwards 20s, right 5s linear forwards 20s;

}

.div5::after {
    content: 'WAITING!';
    padding: 5px 10px;
    background-color: black;
    color: white;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%) rotateY(180deg);
    animation: started 0s forwards 20s, div1-stoped 0s forwards 25s;
}

.div6 {
    transform: rotateY(0);
    animation: walk-left 5s steps(6) forwards 25s, left 5s linear forwards 25s ;
    left: calc(100% - 85px);
}

.div6::after {
    content: 'WAITING!';
    padding: 5px 10px;
    background-color: black;
    color: white;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    animation: started 0s forwards 25s, div1-stoped 0s forwards 30s;
}
@keyframes walk-right {
    0% {
        background-color: 0px;
    }
    90% {
        background-position: -500px;
    }
    100% {
        background-position: 0;
    }
}

@keyframes walk-left {
    0% {
        background-position: 0px;
    }
    90% {
        background-position: -500px;
    }
    100% {
        background-position: 0px;
    }
}


@keyframes right {
    from {
        left: 0;
    }

    to {
        left: calc(100% - 85px);
    }
}

@keyframes left {
    from {
        left: calc(100% - 85px);
    }

    to {
        left: 0;
    }
}